@import "../index";

$albumLength: 145px;

.album-list-container {
  width: 100%;
  height: auto;
  min-height: 95vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  padding-left: 5px;
  padding-right: 5px;

  .album-list-item {
    cursor: pointer;
    width: $albumLength;
    height: $albumLength;
    overflow: hidden;
    margin: 1px 1px;

    .ant-image {
      display: flex;

      img {
        width: 100%;
        height: $albumLength;
        object-fit: cover;
      }
    }
  }

  .album-list-item:hover {
    opacity: 0.75;
  }
  .blog-comments-container {
    margin-top: 50px;
  }
}

@media screen and (max-width: $stepOne) {
  $albumLength: 110px;
  .album-list-container {
    .album-list-item {
      width: $albumLength;
      height: $albumLength;

      .ant-image {
        img {
          height: $albumLength;
        }
      }
    }
  }
}

@media screen and (max-width: $stepTwo) {
  $albumLength: 115px;
  .album-list-container {
    .album-list-item {
      width: $albumLength;
      height: $albumLength;

      .ant-image {
        img {
          height: $albumLength;
        }
      }
    }
  }
}

@media screen and (max-width: $stepThree) {
  $contentWidth: $stepThreeWidth;
  $albumLength: calc(#{$contentWidth} / 4.5);
  .album-list-container {
    .album-list-item {
      width: $albumLength;
      height: $albumLength;

      .ant-image {
        img {
          height: $albumLength;
        }
      }
    }
  }
}
